<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: sans-serif; }
        .header { text-align: center; }
    </style>
</head>
<body>
    <div class="header">
        <h1>Carta de Ruta</h1>
    </div>
    <p>Chasis: {{vehiculo.chasis}}</p>
    <p>Marca: {{vehiculo.marca}}</p>
    <p>Modelo: {{vehiculo.modelo}}</p>
    <p>Propietario: {{cliente.nombres}} {{cliente.apellidos}}</p>
</body>
</html>
